[package]
name = "xtask"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
clap = { version = "4", features = ["derive"] }
xshell = "0.2"

[lints]
workspace = true
