[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[dependencies]
nomad = { workspace = true }
serde = { workspace = true }
url = { version = "2", features = ["serde"] }

[lints]
workspace = true
